/* Favorites Start */
.favorite-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 2rem 4rem;
  padding-top: 5rem;
}

.favorite-page__title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: rgb(44, 54, 93);
  background-image: linear-gradient(to right, rgb(247, 232, 187), rgb(247, 232, 187));
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position: -100% 100%;
}

.favorite-restaurants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.favorite-restaurants__empty {
  display: flex;
  flex-direction: column;
}

/* Favorite Ends */