/* Navbar Section Start */
.navbar {
  font-family: 'Rubik', sans-serif;
  position: absolute;
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  height: 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  border-block-end: 1px solid hsl(23, 61%, 86%);
  z-index: 4;
}

.navbar.active {
  position: fixed !important;
  top: -86px;
  background-color: white;
  box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.2);
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar-logo__link {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: .2rem;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -2px;
  text-decoration: none;
}

.navbar.active .navbar-logo__link {
  color: hsla(210, 26%, 7%, 0.95);
  padding-top: .5rem;
}

.navbar-logo__link .span {
  display: inline-block;
  color: hsl(32, 100%, 59%);
}

.navbar-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.navbar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1rem;
  list-style: none;
  margin: 0 1rem;
}

.navbar-item__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  min-width: 44px;
  min-height: 44px;
}

.navbar.active .navbar-item__link {
  color: hsla(210, 26%, 7%, 0.95);
  font-weight: 500;
}

.navbar-item__link:is(:hover, :focus),
.navbar.active .navbar-item__link:is(:hover, :focus) {
  color: hsl(28, 100%, 58%);
  text-decoration: underline;
}

.navbar-item__icon {
  min-width: 44px;
  min-height: 44px;
  color: black;
  margin-right: 1rem;
}

.navbar-mobile {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mobile-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.mobile-logo__link {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  align-items: center;
  justify-content: center;
  padding-top: .2rem;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -2px;
  text-decoration: none;
}

.navbar.active .mobile-logo__link {
  color: hsla(210, 26%, 7%, 0.95);
}

.mobile-logo__link .span {
  display: inline-block;
  color: hsl(32, 100%, 59%);
}

.mobile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-mobile__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
}

.navbar-mobile__icon {
  margin-top: 0.5rem;
  min-width: 44px;
  min-height: 44px;
  font-size: 2rem;
  color: white;
}

.navbar.active .navbar-mobile__icon {
  color: hsl(32, 100%, 59%);
}

.open {
  left: 0 !important;
}

.mobile-menu {
  display: block;
  position: absolute;
  top: 5rem;
  left: -100%;
  width: 70%;
  height: 100vh;
  background-color: white;
  z-index: 1;
  transition: all 0.3s ease;
  overflow: hidden;
}

.mobile-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  padding: 1.5rem 1rem;
  text-decoration: none;
}

.mobile-item:is(:hover, :focus) {
  background-color: #f0f2f5;
}

.mobile-item__link {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: hsla(210, 26%, 7%, 0.95);
  font-size: 1.3rem;
  min-width: 44px;
  min-height: 44px;
  padding-left: .5rem;
}

.mobile-item:is(:hover, :focus)>.mobile-item__link {
  color: hsl(28, 100%, 58%);
  font-weight: 600;
}

/* Navbar Section End */


/* Hero Section Start */
.hero {
  justify-content: center;
  align-items: center;
}

.hero-banner {
  position: relative;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero-banner__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  color: white;
}

.hero-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-text__title {
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: 700;
}

.hero-text__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero-text__btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  background-image: linear-gradient(to right bottom, rgb(255, 124, 0), rgb(255, 124, 0), rgb(234, 179, 8));
  --bs-btn-border-color: linear-gradient(to right bottom, rgb(255, 124, 0), rgb(255, 124, 0), rgb(234, 179, 8));
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.hero-text__btn:hover {
  background-image: linear-gradient(to right bottom, rgb(255, 124, 0), rgb(255, 124, 0), rgb(255, 191, 0));
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.15);
}

/* Main Content */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

.main-content__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 6rem;
  margin-bottom: 5rem;
  color: rgb(44, 54, 93);
  background-image: linear-gradient(to right, rgb(247, 232, 187), rgb(247, 232, 187));
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position: -100% 100%;
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

/* Hero Section End */


/* Restaurant Card Start */
.restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.restaurant-image__container {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  -webkit-border-radius: 1rem 1rem 1rem 1rem;
  -moz-border-radius: 1rem 1rem 1rem 1rem;
  -ms-border-radius: 1rem 1rem 1rem 1rem;
  -o-border-radius: 1rem 1rem 1rem 1rem;
}

.restaurant-image__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem 1rem 0 0;
  transition: 0.5s ease-in-out;
}

.restaurant-image__container:hover .restaurant-image__img {
  transform: scale(1.1);
}

.restaurant-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.restaurant-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.5;
  max-height: 1.5;
}

.restaurant-meta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.restaurant-location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  font-family: system-ui !important;
  font-size: 1.1rem;
}

.restaurant-location__icon {
  color: #F75940 !important;
  font-size: 1.2rem !important;
  margin-right: 0.25rem;
}

.restaurant-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0.25rem;
  color: #FDA400 !important;
  font-family: system-ui !important;
  font-size: 1.1rem;
}

.restaurant-rating__icon {
  font-size: 1.2rem !important;
  margin-right: 0.25rem;
}

.restaurant-description {
  color: #212529;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 1.5;
  max-height: 6;
}

/* Restaurant Card End */


/* Footer Section Start*/
footer {
  padding: 1rem;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 0;
}

/* Footer Section End */


/* Back to top Start */
.back-top-btn {
  width: 2.875rem;
  height: 2.875rem;
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: hsl(32, 100%, 59%);
  color: white;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.2);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}

.back-top-btn:is(:hover, :focus) {
  background-color: hsl(210, 26%, 7%);
}

/* Back to top End */